$bg-color: #F6F7F8;
$index-color: #141823;
$primary-color: #9197A3;
$secondary-color: #5994FC;
$font-family: 'Open Sans Condensed', sans-serif;

@mixin default-transition() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  background-color: $bg-color;
  font-family: $font-family;
  color: $primary-color;

  h1, h2, h3, h4 {
    color: $index-color;
  }
}

.profile {
  margin-top: 80px;

  .photo {
    text-align: center;
    padding: 15px;
    overflow: hidden;

    img {
      width: 190px;
      border-radius: 100%;
      border: 1px solid $primary-color;
      cursor: pointer;
    }

    &:hover img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .description {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;

    .name {
      font-weight: bold;
      color: $index-color;
      font-size: 27px;
    }

    p {
      margin-top: 5px;
      margin-bottom: 0px;
      font-size: 16px;

      .job {
        color: $secondary-color;
      }
    }

    .email {
      display: inline-block;
      margin-bottom: 15px;
      color: $secondary-color !important;
      text-decoration: none;
    }
  }

  .social-network {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;

    .network-icon {
      text-decoration: none;
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;

      .github {
        @include default-transition();
        color: #000 !important;

        &:hover, &:active {
          color: lighten(#000, 15%) !important;
        }
      }

      .linkedin {
        @include default-transition();
        color: #0274B3 !important;

        &:hover, &:active {
          color: darken(#0274B3, 15%) !important;
        }
      }

      .facebook {
        @include default-transition();
        color: #3B5998 !important;

        &:hover, &:active {
          color: darken(#3B5998, 15%) !important;
        }
      }

      .twitter {
        @include default-transition();
        color: #5EA9DD !important;

        &:hover, &:active {
          color: darken(#5EA9DD, 15%) !important;
        }
      }

      .google-plus {
        @include default-transition();
        color: #DC4A38 !important;

        &:hover, &:active {
          color: darken(#DC4A38, 15%) !important;
        }
      }
    }
  }
}
